.info {
  padding-top: 15px;
}

.info_tx {
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-c);
}

.info_tx span {
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-a);
}

.info_text {
  font-weight: 600;
  font-size: 22px;
  color: var(--c1-a);
  margin-top: 16px;
}

.info__tx {
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-c);
}

.info_input {
  padding: 11px 16px 12px 21px;
  background-color: var(--c1-h);
  border: 1px solid var(--c1-d);
  display: block;
  margin-top: 10px;
  border-radius: 12px;
  width: 319px;
  height: 42px;
}

.info_title {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.info_items_title {
  margin-top: 120px;
}

.info_desc {
  border: 1px solid var(--c1-d);
  border-radius: 12px;
  padding: 9px 16px;
  width: 243px;
  height: 42px;
  background-color: var(--c1-h);
  display: flex;
  gap: 3px;
  margin-top: 32px;
}

.info_option {
  font-weight: 400;
  font-size: 14px;
  color: var(--c1-a);
}

.info__input {
  width: 24px;
  height: 24px;
}

.info__tx {
  margin-top: 32px;
  font-weight: 600;
  font-size: 22px;
  color: var(--c1-a);
}

.info__text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  text-align: right;
  color: var(--c1-c);
}

.info__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 670px;
}

.info__list {
  margin-top: 32px;
  border: 1px solid var(--c1-d);
  border-radius: 12px;
  width: 670px;
  height: 48px;
  background: var(--c1-h);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.info__desc {
  display: flex;
  gap: 16px;
}

.info__label {
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 2px solid gray;
  cursor: pointer;
  border-radius: 50%;
}

.info__checkbox:checked+.info__label {
  background-color: var(--c2-b);
}

.info_p {
  font-weight: 600;
  font-size: 12px;
  color: var(--c1-a);
  display: flex;
  gap: 5px;
}

.info_p span {
  font-weight: 600;
  font-size: 12px;
  color: var(--c2-a);
}

.nuber_label {
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 2px solid gray;
  cursor: pointer;
  border-radius: 50%;
}

.info_nuber {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nuber__checkbox:checked+.nuber_label {
  background-color: var(--c2-b);
  position: relative;

  &::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}

.info__input__nuber {
  border: 1px solid var(--c1-d);
  border-radius: 12px;
  width: 638px;
  height: 42px;
  background-color: var(--c1-h);
  margin-top: 6px;
  padding: 10px;
}

.infor__copy {
  margin-top: 30px;
  font-weight: 600;
  font-size: 12px;
  color: var(--c1-a);
}

.nuber__span {
  font-weight: 600;
  font-size: 12px;
  color: var(--c1-a);
}

.info__list_item {
  border: 1px solid var(--c1-d);
  border-radius: 12px;
  padding: 16px;
  width: 670px;
  height: 240px;
  background: var(--c1-j);
  margin-top: 32px;
}

.info_item__items {
  border: 1px solid var(--c1-d);
  border-radius: 12px;
  width: 350px;
  height: 42px;
  background: var(--c1-h);
  display: block;
}

.notes_tx {
  margin-top: 32px;
  font-weight: 600;
  font-size: 22px;
  color: var(--c1-a);
}

.notes_text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-c);
}

.notes_input {
  padding: 11px 16px 82px 21px;
  border: 1px solid var(--c1-d);
  border-radius: 12px;
  width: 670px;
  background-color: var(--c1-h);
  font-weight: 400;
  font-size: 14px;
  color: var(--c1-c);
}

.notes_lebel {
  margin-top: 32px;
  display: block;
  font-weight: 600;
  font-size: 22px;
  color: var(--c1-a);
}

.terms_block {
  display: flex;
  width: 670px;
  height: 53px;
  justify-content: space-between;
  align-items: center;
}

.terms_tx {
  margin-top: 32px;
  font-weight: 600;
  font-size: 22px;
  color: var(--c1-a);
}

.terms_text {
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-c);
}

.terms_title {
  border: 1px solid var(--c1-d);
  border-radius: 12px;
  padding: 9px 16px;
  width: 578px;
  background-color: var(--c1-h);
  display: flex;
  margin-top: 32px;
  align-items: center;
  gap: 20px;
}

.terms_item {
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-a);
}

.terms_lebel {
  width: 24px;
  height: 24px;
  display: block;
  border: 2px solid gray;
  cursor: pointer;
  border-radius: 5px;
}

.terms_input:checked+.terms_lebel {
  background-color: rebeccapurple;
}

.terms_link {
  border: 2px solid var(--c2-b);
  border-radius: 12px;
  padding: 12px 48px;
  background: var(--c2-a);
  font-weight: 700;
  font-size: 15px;
  text-align: right;
  color: var(--c1-j);
  margin-top: 32px;
}

.safe_tx {
  font-weight: 600;
  font-size: 12px;
  color: var(--c1-a);
}

.safe_text {
  width: 213px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-c);
}

.safe {
  margin-top: 32px;
  width: 213px;
  height: 113px;
  margin-bottom: 48px;
}

.info__box_block {
  display: flex;
  justify-content: space-between;
}

.info__box {
  border: 1px solid var(--c1-d);
  border-radius: 12px;
  padding: 32px 16px;
  width: 468px;
  height: 800px;
  background-color: var(--c1-j);
  margin-top: 50px;
}

.fram_tx {
  font-weight: 400;
  font-size: 11px;
  margin-top: 4px;
  color: var(--c1-c);
  width: 436px;
}

.fram_text {
  font-weight: 600;
  font-size: 22px;
  color: var(--c1-a);
}

.fram_item {
  margin-top: 40px;
}

.fram_img {
  border-radius: 12px;
  width: 100px;
  height: 67px;
}

.fram__tx {
  margin-top: 8px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-c);
}

.fram_items {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.fram_tx__tx {
  font-weight: 500;
  font-size: 15px;
  color: var(--c1-a);
}

.fram__text {
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-c);
}

.fram__tx_text {
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-a);
  margin-left: 14px;
}

.text {
  margin-left: 41px;
}

.fram__desc {
  display: flex;
  column-gap: 16px;
}

.fram_desc {
  margin-top: 36px;
}

.fram_stats {
  margin-top: 10px;
}

.fram_strong {
  font-weight: 600;
  font-size: 18px;
  color: var(--c2-a);
  display: block;
}

.fram_span {
  font-weight: 600;
  font-size: 12px;
  text-decoration: line-through;
  color: var(--c1-c);
}
.fram_item_items{
  margin-left: 115px;
  margin-top: -45px;
}